<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Area</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <%- include('includes/logo'); %>
    <%- include('includes/navigation'); %>
    <div class="table-data">
<h1>Admin Panel</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Keeper</th>
            <th>Add Keeper</th>
            <th>Remove Keeper</th>
            <th>Change Team</th>
            <th>Add Rookie</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td class="<%=data.pos %>"><%=data.name %></td>
            <td class="<%=data.pos %>"><%=data.owner %></td>
            <td class="<%=data.pos %>"><%=data.keeper %></td>
            <td class="<%=data.pos %>"><a href="/add-keeper/<%=data.fantnum%>">Add</a></td>
            <td class="<%=data.pos %>"><a href="/remove-keeper/<%=data.fantnum%>">Remove</a></td>
            <td class="<%=data.pos %>"><a href="/confirm-team/<%=data.fantnum%>">Change Team</a></td>
            <td class="<%=data.pos %>"><a href="/add-rookie/<%=data.fantnum%>">Add Rookie</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="6">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
    <%- include('includes/footer'); %>
</body>
</html>