<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Team</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <% include ./includes/navigation %>
    <div class="table-data">
<h2>Change Team</h2>

<div>
    <h3><a href="../change-team/Adam Staryak/<%=userData[0].fantnum %>">Change team to Adam Staryak</a></h3>
    <h3><a href="../change-team/Brendan Shea/<%=userData[0].fantnum %>">Change team to Brendan Shea</a></h3>
    <h3><a href="../change-team/Brian Selitto/<%=userData[0].fantnum %>">Change team to Brian Selitto</a></h3>
    <h3><a href="../change-team/Jim Harris/<%=userData[0].fantnum %>">Change team to Jim Harris</a></h3>
    <h3><a href="../change-team/Jack Holtgreive/<%=userData[0].fantnum %>">Change team to Jack Holtgreive</a></h3>
    <h3><a href="../change-team/Kevin McClure/<%=userData[0].fantnum %>">Change team to Kevin McClure</a></h3>
    <h3><a href="../change-team/Kevin Pulsifer/<%=userData[0].fantnum %>">Change team to Kevin Pulsifer</a></h3>
    <h3><a href="../change-team/Kyle Stephan/<%=userData[0].fantnum %>">Change team to Kyle Stephan</a></h3>
    <h3><a href="../change-team/Shawn Plesnick/<%=userData[0].fantnum %>">Change team to Shawn Plesnick</a></h3>
    <h3><a href="../change-team/Zack OMalley/<%=userData[0].fantnum %>">Change team to Zack O'Malley</a></h3>
</div>
    </div>
</body>
</html>