<!DOCTYPE html>
<html lang="en">
<head>
  <title>Diaper List</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="table-data">
<h2>Diapers</h2>
    <table border="1">
        <tr>
            <th>Type</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Quantity</th>
            <th>Use Diaper</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.size; %></td>
            <td><%=data.name %></td>
            <td><%=data.weight %></td>
            <td><%=data.quantity %></td>
            <td><a href='../use-diaper/<%=data.id %>'>Use Diaper</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="6">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>