<!DOCTYPE html>
<html lang="en">
<head>
  <title>Available Players</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <meta http-equiv="refresh" content="60">
</head>
<body>
  <% include ./includes/navigation %>
    <div class="table-data">
<h2>Best Available Steal</h2>
        <div>Round 1: Brian, Shawn, Jim, Shawn, Jack, Zack, Brendan, Adam, Kevin, Kyle</div>
        <div>Round 2: Brendan, Pulse, Kevin, Pulse, Jack, Pulse, Pulse, Adam, Jim, Kyle</div>
    <table border="1">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Position</th>
            <th>Team/Bye Week</th>
            <th>Owner</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td class="<%=data.pos %>"><%=i; %></td>
            <td class="<%=data.pos %>"><%=data.name %></td>
            <td class="<%=data.pos %>"><%=data.pos %></td>
            <td class="<%=data.pos %>"><%=data.team %></td>
            <td class="<%=data.pos %>"><%=data.owner %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="6">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
    <% include ./includes/footer %>
</body>
</html>